# -*- coding: utf-8, tab-width: 2 -*-
#
# Default config. Don't modify config here! Instead, override
# relevant settings using a systemd drop-in file, e.g.
# /etc/systemd/system/npm-proxy-guard.service.d/local.conf

[Unit]
Description = Concurrency-limited proxy for npm

[Service]
User  = proxy
Group = proxy
WorkingDirectory = /
ExecStart = bash -c 'source -- /etc/profile && exec -a %N nodejs -r tcpfwd-maxconc-pmb -e 0'
Nice = 10
Restart = no

# Don't modify config here (see above).
Environment = LOGLV=0
Environment = MAX_CONC=15 TGT_IDLE=5
Environment = LSN_ADDR=systemd: IDLE_QUIT=5

# In your drop-in file (see above) you'd define either
# Environment = TGT_HOST=localhost TGT_PORT=3128
# or
# Environment = http_proxy=http://localhost:3128/
# or (more commonly) you set http_proxy in /etc/profile.d/*.

StandardInput = socket
StandardOutput = journal
SyslogIdentifier = %N

# man 5 systemd.exec: stderr "inherit" means send to stdout:
StandardError = inherit

ProtectSystem = strict
PrivateDevices = true
