# -*- coding: utf-8, tab-width: 2 -*-
#
# systemd manifest to put
# in $XDG_CONFIG_HOME/systemd/user/
# or $HOME/.config/systemd/user/
# or $HOME/.local/share/systemd/user/

[Unit]
Description=Concurrency-limited proxy for npm

[Service]
WorkingDirectory=/
ExecStart=/usr/bin/nodejs -r tcpfwd-maxconc-pmb -e 0
Nice=10

PassEnvironment=http_proxy
PassEnvironment=HTTP_PROXY
PassEnvironment=https_proxy
PassEnvironment=HTTPS_PROXY

Environment=LOGLV=-1
Environment=MAX_CONC=15 TGT_IDLE=5
Environment=IDLE_QUIT=5
Environment=LSN_HOST=systemd: IDLE_QUIT=5
# Environment=TGT_HOST=localhost TGT_HOST=8118

StandardInput=null
SyslogIdentifier=npm-proxy-guard

